<!DOCTYPE html>
<html>
	<body>
		<div id="navigation"></div>
		<h1>
			{% block titre %}Salle de Tp
			{% endblock %}
		</h1>
		<div id="contenu"> {% block contenu %}{% endblock %}
			</div>
			<hr/>
			<div id="pied_de_page">
				<p>&copy; DF.</p>
			</div>
		</body>
	</html>
